---
import { Image } from 'astro:assets';
---
<section class="block-section my-16">
	<div class="main-row content">
		<div class="flex-[4] caption">
			<h3 class="subtitle">Somos IT Soluciones</h3>
			<h2 class="title">Te ayudamos a superar los más grandes desafíos, con el objetivo de alcanzar tu potencial.</h2>
			<p>Estamos comprometidos contigo. Sentimos tu marca como nuestra, convirtiendo tu éxito en nuestro principal logro.</p>
		</div>
		<div class="flex-[5] relative reveal-fade w-full">
            <div class="relative md:inline-block">
              <img 
                src="/images/dynamic-studio-process.webp" 
                alt="Dynamic Studio Process" 
                class="md:absolute right-0 -top-36 z-10" 
                data-scroll 
                data-scroll-speed="0.02"
                width="300"
                height="164"
                loading="lazy"
              >
              <img 
                src="/images/dynamic-studio-dashboard.webp" 
                alt="Dynamic Studio Dashboard" 
                class="rounded md:rounded-2xl w-[80%] xl:w-auto" 
                data-scroll 
                data-scroll-speed="-0.04"
                width="560"
                height="402"
                loading="lazy"
              >
            </div>
            <img 
              src="/images/dynamic-studio-app-mobile.webp"
              alt="Dynamic Studio App Mobile" 
              class="absolute -bottom-[20%] md:bottom-auto md:top-16 right-0 xl:-right-20 2xl:right-0 w-[34%] xl:auto" 
              data-scroll 
              data-scroll-speed="0.1"
              width="240"
              height="468"
              loading="lazy"
            >
          </div>
	</div>
</section>

<style>
    .block-section {
        padding-bottom: 0;
    }

    .content {
        align-items: center;
        display: flex;
        position: relative;
        z-index: 2;
    }

    .caption {
        color: #000;
        margin-right: 60px;
    }

    .image {
        flex: 0 0 60%;
        position: relative;
    }

    .image .image__front {
        position: relative;
        z-index: 5;
    }

    .image img {
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .subtitle {
        font-size: 1.5em;
        font-weight: bold;
        line-height: 1.4em;
    }

    .title {
        font-size: 2em;
        font-weight: bold;
        line-height: 1.2em;
        margin-bottom: 10px;
    }

    .caption p {
        width: 80%;
    }


    @media screen and (max-width: 1023px) {

        .caption {
            margin-right: 0;
            margin-top: 40px;
        }

        .content {
            flex-direction: column-reverse;
        }

        .image {
            width: 100%;
        }
    }
</style>