---
import { Image } from 'astro:assets';
---
<section class="block-section">
	<div class="main-row content">
		<div class="caption" data-scroll-repeat data-scroll data-scroll-speed="1">
			<h3 class="subtitle">Somos Vortex Studio</h3>
			<h2 class="title">Te ayudamos a superar los más grandes desafíos, con el objetivo de alcanzar tu potencial.</h2>
			<p>Estamos comprometidos contigo. Sentimos tu marca como nuestra, convirtiendo tu éxito en nuestro principal logro.</p>
		</div>
		<figure class="image">
            <Image src="/images/about-us-1.svg" class="image__front" data-scroll-repeat data-scroll data-scroll-speed="2" width="768" height="586" alt="Somos Vortex Studio"/>
            <Image src="/images/about-us-5.svg" data-scroll-repeat data-scroll data-scroll-speed="1" width="768" height="586" alt="Somos Vortex Studio"/>
            <Image src="/images/about-us-4.svg" data-scroll-repeat data-scroll data-scroll-speed="1.1" width="768" height="586" alt="Somos Vortex Studio"/>
            <Image src="/images/about-us-3.svg" data-scroll-repeat data-scroll data-scroll-speed="1.3" width="768" height="586" alt="Somos Vortex Studio"/>
            <Image src="/images/about-us-2.svg" data-scroll-repeat data-scroll data-scroll-speed="1.6" width="768" height="586" alt="Somos Vortex Studio"/>
		</figure>
	</div>
</section>

<style>
    .block-section {
        padding-bottom: 0;
    }

    .content {
        align-items: center;
        display: flex;
        position: relative;
        z-index: 2;
    }

    .caption {
        color: #000;
        flex: 1;
        margin-right: 60px;
    }

    .image {
        flex: 0 0 60%;
        position: relative;
    }

    .image .image__front {
        position: relative;
        z-index: 5;
    }

    .image img {
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .subtitle {
        font-size: 1.5em;
        font-weight: bold;
        line-height: 1.4em;
    }

    .title {
        font-size: 2em;
        font-weight: bold;
        line-height: 1.2em;
        margin-bottom: 10px;
    }

    .caption p {
        width: 80%;
    }


    @media screen and (max-width: 1023px) {

        .caption {
            margin-right: 0;
            margin-top: 40px;
        }

        .content {
            flex-direction: column-reverse;
        }

        .image {
            width: 100%;
        }
    }
</style>