---
import IsoBg from "../ui/IsoBg.astro";
import IsoStroke from "../ui/IsoStroke.astro";
import { Button } from "../../components";
---
<section>
	<div class="content main-row">
		<div class="caption" data-scroll data-scroll-speed="3">
			<div class="titles">
				<h1 class="title">
                    <span class="highlight animate-fade-right animate-duration-1000 animate-ease-in-out animate-fill-both">Potencia</span><br>
                    <span class="animate-fade-right animate-duration-1000 animate-delay-100 animate-ease-in-out animate-fill-both">tu presencia</span><br>
                    <span class="animate-fade-right animate-duration-1000 animate-delay-200 animate-ease-in-out animate-fill-both">en línea</span>
                </h1>
				<h2 class="animate-fade-right animate-duration-1000 animate-delay-300 animate-ease-in-out animate-fill-both">y haz crecer tu marca.</h2>
			</div>
            <div class="animate-fade-right animate-duration-1000 animate-delay-[400ms] animate-ease-in-out animate-fill-both">
                <Button size="main" hashTo="contact" label="Comienza Ahora" client:load/>
            </div>
		</div>
	</div>
	<div class="image">
		<div class="video animate-fade animate-duration-2000 animate-delay-[400ms] animate-ease-in-out animate-fill-both" data-scroll data-scroll-speed="1">
			<div class="video__mask">
                <IsoBg />
			</div>
			<video autoplay muted loop poster="https://res.cloudinary.com/dq6txmetn/image/upload/v1706463995/vortex_video_poster_dc10f643bd.webp">
				<source src="https://res.cloudinary.com/dq6txmetn/video/upload/v1706391685/vortex_video_02b79e633b.mp4" />
			</video>
		</div>
        <div class="animate-fade animate-duration-2000 animate-delay-[600ms] animate-ease-in-out animate-fill-both">
            <IsoStroke />
        </div>
	</div>
</section>

<style>
    section {
        background: var(--dark);
        color: #fff;
        height: 100vh;
        overflow: hidden;
        position: relative;
        z-index: 2;
    }

    .content {
        align-items: center;
        display: flex;
        height: 100vh;
        position: relative;
        z-index: 3;
    }

    .caption {
        max-width: 60%;
    }

    .titles {
        font-size: 4.25em;
        font-weight: 300;
        line-height: 1em;
        margin-bottom: 60px;
    }

    .title {
        font-size: 1.66em;
        font-weight: bold;
        line-height: 0.9em;
        margin-bottom: 10px;
    }

    .title span {
        display: inline-block;
    }

    .title span.highlight {
        border-radius: 0.25rem;
        background: var(--redGradient);
        color: #000;
        line-height: 0.8em;
        mix-blend-mode: lighten;
        padding: 6px 8px;
    }

    .image {
        height: 80vh;
        position: absolute;
        right: 10vh;
        top: 10vh;
        width: 60%;
    }

    .video {
        height: 100%;
        mix-blend-mode: lighten;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        z-index: 1;
    }

    .video video {
        height: 100%;
        object-fit: cover;
        opacity: 0.6;
        position: absolute;
        width: 100%;
        z-index: 1;
    }

    .video__mask {
        height: 100.1%;
        position: absolute;
        width: 100%;
        z-index: 2;
    }

    .video__mask svg {
        height: 100%;
        left: 50%;
        position: absolute;
        top: 0;
        transform: translateX(-50%);
        width: auto;
    }

    .image:before {
        background: var(--purpleGradient);
        border-radius: 1000px;
        bottom: -50%;
        content: '';
        display: block;
        filter: blur(40vh);
        height: 100vh;
        opacity: 0.4;
        right: -20vh;
        width: 100vh;
        position: absolute;
    }

    .image:after {
        background: var(--blueGradient);
        border-radius: 1000px;
        content: '';
        display: block;
        filter: blur(40vh);
        height: 100vh;
        opacity: 0.4;
        right: -20vh;
        width: 100vh;
        top: -50%;
        position: absolute;
    }

    @media screen and (max-width: 1600px) {

        .titles {
            font-size: 4em;
        }

        .image {
            height: 75vh;
            top: 12.5vh;
            width: 50%;
        }
    }

    @media screen and (max-width: 1280px) {
		.titles {
			font-size: 3.4em;
		}

		.image {
			height: 75vh;
			right: 0;
			top: 12.5vh;
			width: 65%;
		}
	}

    @media screen and (max-width: 1023px) {

        .content {
            align-items: flex-end;
            padding-bottom: 40px;
        }

        .caption {
            max-width: 100%;
        }

        .titles {
            font-size: 3em;
        }

        .title {
            line-height: 1em;
        }

        .image {
            height: 50vh;
            right: 0;
            top: 136px;
            width: 100%;
        }
    }

    @media screen and (max-width: 767px) {

        .titles {
			font-size: 2em;
			line-height: 1.2em;
		}

        .image {
            top: 94px;
        }
    }
</style>