---
import IsoBg from "../ui/IsoBg.astro";
import IsoStroke from "../ui/IsoStroke.astro";
import { Button } from "../../components";
import IsoVideo from "../ui/IsoVideo.astro";
---

<section>
  <div class="content main-row">
    <div class="caption">
      <div class="titles">
        <h1 class="title">
          <span class="animate-fade-right animate-duration-1000 animate-ease-in-out animate-fill-both">Nos adecuamos</span><br />
          <span class="animate-fade-right animate-duration-1000 animate-delay-100 animate-ease-in-out animate-fill-both">a tus</span>
          <span class="highlight animate-fade-right animate-duration-1000 animate-delay-200 animate-ease-in-out animate-fill-both">necesidades</span>
        </h1>
        <h2 class="animate-fade-right animate-duration-1000 animate-delay-300 animate-ease-in-out animate-fill-both">
          Descubre cómo transformamos <br />tu negocio.
        </h2>
      </div>
			<ul class="hidden md:grid grid-cols-[repeat(auto-fill,minmax(200px,1fr))] gap-2 text-lg my-12 leading-tight">
				<li class="flex flex-col gap-3 flex-1 surface rounded p-6">
					<img src="/images/artificial-intelligence.svg" width="48" alt="Inteligencia Artificial">
					Inteligencia Artificial
				</li>
				<li class="flex flex-col gap-3 flex-1 surface rounded p-6">
					<img src="/images/app-notification.svg" width="48" alt="Desarrollo de Sistemas y Aplicaciones">
					Desarrollo de Sistemas y Aplicaciones
				</li>
				<li class="flex flex-col gap-3 flex-1 surface rounded p-6">
					<img src="/images/lesson-class.svg" width="48" alt="Capacitaciones">
					Capacitaciones
				</li>
			</ul>
      <div class="animate-fade-right animate-duration-1000 animate-delay-[400ms] animate-ease-in-out animate-fill-both">
        <Button
          size="main"
          hashTo="contact"
          label="Comienza Ahora"
          client:load
        />
      </div>
    </div>
  </div>
  <div class="image" data-scroll data-scroll-speed="0.1">
    <div
      class="video animate-fade animate-duration-2000 animate-delay-[400ms] animate-ease-in-out animate-fill-both"
      data-scroll
      data-scroll-speed="0.1"
    >
      <IsoVideo />
    </div>
    <!-- <div class="animate-fade animate-duration-2000 animate-delay-[600ms] animate-ease-in-out animate-fill-both">
            <IsoStroke />
        </div> -->
  </div>
</section>

<style>
  section {
    background: var(--dark);
    color: #fff;
    height: 100vh;
    overflow: hidden;
    position: relative;
    z-index: 2;
  }

  .content {
    align-items: center;
    display: flex;
    height: 100vh;
    position: relative;
    z-index: 3;
  }

  .caption {
    max-width: 60%;
  }

  .titles {
    font-size: 3.125em;
    font-weight: 300;
    line-height: 1em;
  }

  .title {
    font-size: 1.75em;
    font-weight: bold;
    line-height: 0.9em;
    margin-bottom: 10px;
  }

  .title span {
    display: inline-block;
  }

  .title span.highlight {
    border-radius: 0.25rem;
    background: var(--redGradient);
    color: #000;
    line-height: 1em;
    margin-top: 0.25rem;
    padding: 0 8px;
  }

  .image {
    height: 100vh;
    position: absolute;
    right: -10rem;
    top: 0;
    width: 60%;
  }

  .video {
    height: 100%;
    mix-blend-mode: lighten;
    width: 100%;
    z-index: 1;
  }

  .image:before {
    background: var(--purpleGradient);
    border-radius: 1000px;
    bottom: -50%;
    content: "";
    display: block;
    filter: blur(40vh);
    height: 100vh;
    opacity: 0.4;
    right: -20vh;
    width: 100vh;
    position: absolute;
  }

  .image:after {
    background: var(--blueGradient);
    border-radius: 1000px;
    content: "";
    display: block;
    filter: blur(40vh);
    height: 100vh;
    opacity: 0.4;
    right: -20vh;
    width: 100vh;
    top: -50%;
    position: absolute;
  }

	.surface{
		background: rgba(255,255,255,0.03);
		backdrop-filter: blur(24px);
	}

  @media screen and (max-width: 1600px) {
    .titles {
      font-size: 4em;
    }

    .image {
      width: 50%;
    }
  }

  @media screen and (max-width: 1280px) {
    .titles {
      font-size: 3.4em;
    }

    .image {
      width: 65%;
    }
  }

  @media screen and (max-width: 1023px) {
    .content {
      align-items: flex-end;
      padding-bottom: 40px;
    }

    .caption {
      max-width: 100%;
    }

    .titles {
      font-size: 3em;
    }

    .title {
      line-height: 1em;
    }

    .image {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      right: 0;
    }
  }

  @media screen and (max-width: 767px) {
    .titles {
      font-size: 2em;
      line-height: 1.2em;
    }

    .image {
      top: 94px;
    }
  }
</style>
