---
interface Props {
	className?: string
}
const { className } = Astro.props
---

<section class={`px-6 sm:px-8 lg:px-20 xl:px-0 mx-auto w-full xl:max-w-5xl 2xl:max-w-[1280px] ${ className }`}>
  <slot/>
</section>