<div class="navigation">
    <div class="navigation__header">
        <div class="navigation__header__content">
            <a itemprop="url" href="<?php echo esc_url( home_url( '/' ) ); ?>" rel="home" class="logo">
                <img src="/images/vortex.svg">
            </a>
            <button class="nav-mobile" id="close-nav">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16px" fill="#fff">
                    <use xlink:href="/images/icons.svg#close"></use>
                </svg>
            </button>
        </div>
    </div>
    <nav class="site-nav main-row" role="navigation">
        <ul class="main-nav__list">
            <li><a href="/nosotros">Nosotros</a></li>
            <li><a href="/portafolio">Portafolio</a></li>
            <li><a href="/servicios">Servicios</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/contacto">Contacto</a></li>
        </ul>
    </nav>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 116 100" fill="none" class="navigation__iso-stroke">
        <use xlink:href="/images/icons.svg#iso-stroke"></use>
    </svg>
</div>

<style>
    .navigation{
        background-color: var(--dark);
        color: #fff;
        font-size: 3em;
        font-weight: bold;
        height: 100vh;
        line-height: 1em;
        opacity: 0;
        position: fixed;
        top: 0;
        transition-timing-function: cubic-bezier(0.1, 1, 1, 1);
        transition-duration: 0.3s;
        visibility: hidden;
        width: 100%;
        z-index: 9999;
    }

    .navigation__header {
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 999;
    }

    .navigation__header__content {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 50px;
    }

    .navigation .logo{
        margin-top: -18px;
    }

    .navigation .nav-mobile{
        background: rgba(0, 0, 0, 0.05);
    }

    .navigation .nav-mobile:hover{
        background: rgba(0, 0, 0, 0.1);
    }

    .navigation .navigation__iso-stroke {
        height: 140vh;
        opacity: 0.1;
        position: absolute;
        right: -5%;
        stroke: #fff;
        top: 63%;
        transform: translateY(-50%);
        width: auto;
        z-index: 1;
    }

    .open-nav .navigation{
        opacity: 1;
        visibility: visible;
    }

    .site-nav {
        align-items: center;
        display: flex;
        height: 100vh;
        position: relative;
        z-index: 2;
    }

    .main-nav__list li{
        margin: 10px 0;
    }

    .main-nav__list a{
        display: block;
        padding: 10px 0;
    }
</style>