---
import { ViewTransitions } from 'astro:transitions';
import { Header } from '../components';
import Global from "../styles/Global.astro"
import Footer from '../components/Footer.astro';

interface Props {
	title?: string;
	description?: string;
	isHome?: boolean;
	videoPoster?: string;
}

const {
	title="Estudio Digital en Lima, Perú | Vortex Studio",
	description="Somos Vortex Studio. Te ayudamos a superar los más grandes desafíos, con el objetivo de alcanzar tu potencial. Estamos comprometidos contigo. Sentimos tu marca como nuestra, convirtiendo tu éxito en nuestro principal logro.",
	isHome,
	videoPoster
} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/images/favicon/favicon.svg" />
		<meta name="robots" content="noindex,nofollow">
		<meta name="generator" content={ Astro.generator } />
		<meta name="description" content={ description } />
		<title>{ title }</title>
		<link rel="preload" href="/images/vortex-iso.svg" as="image" />
		<link rel="preload" href="/images/vortex-studio.svg" as="image" />
		<link rel="preload" href="/images/vortex-studio-light-bg.svg" as="image" />
		<link rel="preload" href={ videoPoster } as="image" />
		<ViewTransitions />
	</head>
	<body class=`${ isHome && "isHome" }` data-scroll-container>
		<main class="main" data-scroll-section>
			<Header client:load transition:name="header"/>
			<slot />
			<Footer/>
		</main>
	</body>
</html>

<!-- <script>
	import LocomotiveScroll from 'locomotive-scroll';
	document.addEventListener("astro:page-load", () => {
		const container = document.querySelector("[data-scroll-container]");
		if (container instanceof HTMLElement) {
			const scroller = new LocomotiveScroll({
				el: container,
				smooth: true
			});
		}
	});
</script> -->

<Global/>
