<div class="reveal-fade z-10 absolute aspect-[35/40] h-[50vh] md:h-[90vh] mix-blend-screen top-[10vh] md:top-[5vh] flex items-center justify-center w-full lg:w-auto px-8 lg:px-0">
  <video autoplay muted loop poster="/images/dynamic-studio-waves.webp" preload="auto" class="opacity-60 aspect-[35/40] object-cover w-full">
    <source src="https://res.cloudinary.com/dq6txmetn/video/upload/v1706391685/vortex_video_02b79e633b.mp4" />
  </video>
</div>

<style>
  video {
    mask-image: url("/images/iso-it-soluciones.svg");
    mask-size: contain;
    mask-position: top right;
    mask-repeat: no-repeat;
  }
</style>